body { background-color: #ccf }

#container
{
    margin: 0 auto;
    width: 900px;
    background: #FFF;
}

#header
{
    background-color: #cff;
    padding: 20px;
    color: #000;
    font-size: 150%;
    border-top: 50px solid#033;
}

#header h1 
{ 
    margin: 0; 
}

#navigation
{
    float: left;
    width: 900px;
    background:#033;
}

#navigation ul
{
    margin: 0;
    padding: 0;
    border-top: 1px solid#FFF;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li a
{
    display: block;
    float: left;
    padding: 5px 10px;
    color:#fff;
    text-decoration: none;
    border-right: 1px solid#fff;
}

#navigation li a:hover { background:#999; }

#content
{
    clear: left;
    padding: 20px;
}

#content h2
{
    color:#000;
    font-size: 160%;
    margin: 0 0 .5em;
}

#footer
{
    background:#033;
    color:#FFF;
    text-align: right;
    padding: 15px;
}
